
body {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    box-sizing: border-box;
    }


/*---------------------------------------footer------------------------------------ */ 

footer {
    height: fit-content;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.social-media h3 {
    color: white;
    text-align: center;
    margin: 5px 0;
    /* Reducido el margen superior e inferior */
    font-size: 1.5rem;
    /* Ajustamos el tamaño de la fuente */
}

.icons {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.line-container {
    margin-top: 20px;
}

.line-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.line-footer ul li {
    margin: 5px;
}

.line-footer ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.line-footer ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.line-footer p {
    color: white;
    font-size: 12px;
    margin-top: 10px;
}