:root {
    --color-primario: #3498db;      /* Azul claro */
    --color-secundario: #2ecc71;    /* Verde */
    --color-acento: #e74c3c;        /* Rojo */
    --color-fondo: #ecf0f1;         /* Gris claro */
    --color-texto: #333333;         /* Gris oscuro */
    --color-texto-secundario: #7f8c8d; /* Gris suave */
  }

  body {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  }

  .hero {
    height: 100vh;
    background-image: url(img/Aula\ De\ Anime.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titulo {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 8rem;
  }

  .titulo span{
    color: rgb(11, 174, 229);
  }

.contenedor_producto {
    margin: 4rem 0 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo_producto{
    font-size: 4rem;
    margin: 1rem;
}

.producto {
    height: auto ;
    width: 50rem;
}


.producto img {
    height: auto;
    width: 50rem;
}

.nombre_producto {
font-size: 2rem;
margin: 32px 0 10px 0;
}

.nombre_producto span{
color: #e74c3c;
}

.descripcion_producto{
    text-align: center;
    font-size: 1.2rem;
}

/* <------------------------------------------historia----------------------------------> */

.historia_cantante{
  height: 100vh;
  width: auto;
  margin: 5rem 0 0 0;
}

.historia_titulo{
    font-size: 4rem;
    margin: 1rem;
    text-align: center;
}

.historia_contenedor{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.historia_texto{
  margin: 0 2rem 0 0;
  text-align: justify;
  font-size: 1.5rem;
}

.historia_contenedor img {
border-radius: 0.5rem;
height: 25rem;
width: auto;
margin: 2rem;
}

/* ---------------------------------------footer------------------------------------ */

footer {
  background-color: #121212;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  height: 140px;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.social-media h3{

  color: white;
  text-align: center;


}

.icons{
color: white;
margin-top:60px;
display: flex;
justify-content: 20%;


}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-media, .icons, .line-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px;
}


.line-container {
  margin-top: 20px;
}

.line-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.line-footer ul li {
  margin: 5px 10px;
}